<div class="flex justify-center items-center h-1/3 w-full sm:h-1/3 mt-8">
  <div class="xs:space-y-2 xs:w-full sm:w-full h-full flex items-center justify-evenly xs:flex-col xs:items-center sm:h-full">
    <div
      class="mx-4 xs:w-3/4 xs:h-1/5 sm:h-1/3 sm:w-1/4 flex items-center justify-center"
      *ngFor="let answer of currentQuestion?.answers">
      <quiz-app-button
        class="xs:w-full sm:w-full"
        [type]="answer === selectedAnswer ? buttonType : BUTTON_TYPE.SECONDARY"
        (whenClicked)="selectAnswer(answer)">
        <div class="w-full flex justify-center items-center">
          <p [innerHTML]="answer.text | sanitize"></p>
        </div>
      </quiz-app-button>
    </div>
  </div>
</div>
