<div class="flex justify-center items-center h-1/4 w-full sm:h-1/3">
  <div class="w-1/2 h-full flex items-center justify-evenly xs:w-full xs:flex-col xs:items-center sm:w-4/5 sm:h-1/3">
    <div
      class="w-1/6 h-1/4 xs:w-4/5 xs:h-1/5 sm:h-1/3 sm:w-1/5"
      [ngClass]="{ 'button-selected': answer === selectedAnswer }"
      *ngFor="let answer of currentQuestion?.answers">
      <quiz-app-button
        [type]="BUTTON_TYPE.PRIMARY"
        (click)="selectAnswer(answer)">
        {{ answer?.text | translateJson }}
      </quiz-app-button>
    </div>
  </div>
</div>
