<div class="flex my-6">
  <div class="flex items-center w-full flex-wrap justify-between p-4 pb-6 bg-primary rounded">
    <div class="flex items-center w-full h-full sm:w-1/2 md:w-1/4 lg:w-1/2 xl:w-1/3 m-1.5 border p-2 bg-back-ground rounded">
      <span class="text-lg font-semibold">{{ 'LABELS.TITLE' | translateJson }}:</span>
      <span class="mx-2">{{ question.title }}</span>
    </div>
    <div class="flex items-center w-full h-full sm:w-1/5 md:w-1/5 lg:w-1/5 xl:w-1/5 m-1.5 border p-2 bg-back-ground rounded">
      <span class="text-lg font-semibold">{{ 'LABELS.TYPE' | translateJson }}:</span>
      <span class="mx-2">{{ question.type }}</span>
    </div>
    <div class="flex items-center w-full h-full sm:w-1/5 md:w-1/4 lg:w-1/5 xl:w-1/5 m-1.5 border p-2 bg-back-ground rounded">
      <span class="text-lg font-semibold">{{ 'LABELS.DIFFICULTY' | translateJson }}:</span>
      <span class="mx-2">{{ question.difficulty }}</span>
    </div>
    <div class="flex items-center w-full h-full sm:w-1/5 md:w-1/5 lg:w-1/5 xl:w-1/5 font-semibold m-1.5 border">
      <quiz-app-button
        class="w-full h-full"
        [type]="BUTTON_TYPE.SECONDARY"
        (whenClicked)="deleteQuestionConfirm()">
        {{ 'BUTTON.DELETE_QUESTION' | translateJson }}
      </quiz-app-button>
    </div>
  </div>
</div>
