.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;


  .title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 50%;

    .title{
      font: small-caps bold 70px/1 sans-serif;
    }
  }

  .description-container{
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
  }

  @media (max-width: 768px){
    .description-container{
      width: 75%;
    }
  }

  @media (max-width: 480px){
      .description-container{
        width: 75%;
      }
  }
}
