<div class="flex flex-col w-full">
  <label class="labels w-full pb-4">{{ label | translateJson }}</label>
  <nz-select
    class="min-w-[100px] w-full rounded bg-primary text-black"
    nzBorderless
    (ngModelChange)="selectItem($event)"
    [ngModel]="selectedValue"
    [nzPlaceHolder]="selectedValue?.text | translateJson"
  >
    <nz-option
      *ngFor="let item of list"
      [ngClass]="{'bg-secondary': selectedValue}"
      [nzValue]="item"
      [nzLabel]="item?.text | translateJson"
    ></nz-option>
  </nz-select>
</div>
