<div>
  <div class="flex content-center justify-center pt-10 text-2xl">
    <div>
      <div class="flex">
        <div class="mx-3.5 modal-title">
        {{'labels.title' | translateJson}} {{initialQuiz?.title}}
        </div>
        <div class="mx-3.5 modal-title">
          {{'labels.theme' | translateJson}} {{initialQuiz?.theme}}
        </div>
      </div>
      <div class="flex content-center justify-center mt-10">
        <quiz-app-button [type]="BUTTON_TYPE.PRIMARY" (whenClicked)="openEditPopUp()">{{'buttons.edit-title' | translateJson}}</quiz-app-button>
      </div>
      <div class="flex items-center justify-center">
        <quiz-app-button class="items-center justify-center" [type]="BUTTON_TYPE.SECONDARY" (whenClicked)="goHome()">
          {{ 'buttons.home' | translateJson }}
        </quiz-app-button>
      </div>
    </div>
  </div>
  <quiz-app-question-list [quizId]="id"></quiz-app-question-list>
</div>

