<div>
  <div class="flex content-center justify-center pt-10 text-2xl">
    <div>
      <div class="flex">
        <div *ngIf="initialQuiz?.title" class="mx-3.5 modal-title">
          Title: {{ initialQuiz?.title }}
        </div>
        <div *ngIf="initialQuiz?.theme" class="mx-3.5 modal-title">
          Theme: {{ initialQuiz?.theme }}
        </div>
      </div>
      <div class="flex content-center justify-center mt-10">
        <button (click)="openEditPopUp()">Edit title</button>
      </div>
    </div>
  </div>
  <quiz-app-question-list [quizId]="id"></quiz-app-question-list>
</div>

