<div class="flex items-center justify-start my-2">
  <quiz-app-button [type]="BUTTON_TYPE.SECONDARY" class="flex items-center justify-center p-2" (click)="goHome()">
    <div class="flex justify-center items-center">
      <span class="flex items-center w-6 h-6 pr-2" nz-icon nzType="left" nzTheme="outline"></span>
      {{ 'BUTTON.HOME' | translateJson }}
    </div>
  </quiz-app-button>
</div>
<div>
  <div class="flex content-center justify-center pt-10 text-2xl">
    <div>
      <div class="flex flex-col">
        <div *ngIf="quizTitle" class="mx-3.5 modal-title">
        {{ 'LABELS.TITLE' | translateJson }}: {{ quizTitle }}
        </div>
        <div *ngIf="quizTheme" class="mx-3.5 modal-title">
          {{ 'LABELS.THEME' | translateJson }}: {{ quizTheme }}
        </div>
        <div *ngIf="quizDifficulty" class="mx-3.5 modal-title">
          {{ 'LABELS.DIFFICULTY' | translateJson }}: {{ quizDifficulty | translateJson }}
        </div>
      </div>
      <div class="w-full">
        <div class="flex content-center justify-center mt-2">
          <quiz-app-button
            class="w-2/3"
            [type]="BUTTON_TYPE.PRIMARY"
            (whenClicked)="openEditPopUp()">
            {{ 'BUTTON.EDIT' | translateJson }}
          </quiz-app-button>
        </div>
        <div class="flex content-center justify-center mt-2">
          <quiz-app-button
            class="w-2/3"
            [type]="BUTTON_TYPE.ERROR"
            (whenClicked)="confirmRemoving()">
            {{ 'LABELS.DELETE' | translateJson }}
          </quiz-app-button>
        </div>
      </div>
    </div>
  </div>
  <quiz-app-question-list [quizId]="id"></quiz-app-question-list>
</div>

