<div class="test">
    <form [formGroup]="initQuizForm">
      <div class="place-content-center">
        <span class="text-2xl">Title</span>
        <input type="text" formControlName="title" placeholder="Enter title of quiz">
      </div>
      <div class="place-content-center">
        <span class="text-2xl">Theme</span>
        <input type="text" formControlName="theme" placeholder="Enter Theme of quiz">
      </div>
    </form>
  <div *nzModalFooter class="">
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">Save</button>
  </div>
</div>
