<quiz-app-loader [isLoading]="isLoading">
  <div class="container">
    <div class="flex justify-center items-center h-8 mb-2">
      <quiz-app-button class="w-1/3 xs:w-1/2 sm:w-1/2" [type]="BUTTON_TYPE.PRIMARY" (whenClicked)="openInitPopUp()">{{ 'BUTTON.NEW_QUIZ' | translateJson }}
      </quiz-app-button>
    </div>
    <div class="quiz-list">
      <div class="quiz-list-item" *ngFor="let quiz of quizzes">
        <quiz-app-quiz-card [quiz]="quiz" class="flex justify-center items-center"></quiz-app-quiz-card>
      </div>
    </div>
  </div>
</quiz-app-loader>
