<quiz-app-loader [isLoading]="isLoading">
  <div class="m-[80px]">
    <div class="flex flex-wrap mx-2">
      <div class="p-4 w-1/3 max-w-[378px]">
        <quiz-app-add-quiz (whenClicked)="openInitPopUp()">+Add quiz</quiz-app-add-quiz>
      </div>
      <ng-container *ngFor="let quiz of (quizzes$ | async)">
        <div class="p-4 w-1/3 max-w-[378px]">
          <quiz-app-quiz-card [quiz]="quiz"></quiz-app-quiz-card>
        </div>
      </ng-container>
    </div>
  </div>
</quiz-app-loader>
