<div class="container bg-white shadow py-2 flex items-center justify-center">
  <div class="flex justify-end items-center w-full pr-6">
    <quiz-app-popover
      [label]="'POPOVER.QUIZ_MANAGER' | translateJson"
      [options]="popoverSetup">
    </quiz-app-popover>
  </div>
  <div class="card-title">
    {{ quiz?.title }}
  </div>
  <div *ngIf="quiz?.difficulty">
    {{ 'LABELS.DIFFICULTY' | translateJson }}: {{ quiz?.difficulty }}
  </div>
  <div class="card-location">
    {{ 'BUTTON.QUESTION_AMOUNT' | translateJson }} {{ quiz?.questions?.length || 0 }}
  </div>
  <div class="flex-row flex items-center justify-evenly w-full">
    <div class="flex-row flex items-center justify-evenly w-4/5">
      <div class="flex content-center justify-center w-full">
        <quiz-app-button
          class="w-3/4"
          [type]="BUTTON_TYPE.PRIMARY"
          (whenClicked)="goPlay()">
          {{ 'BUTTON.PLAY' | translateJson }}
        </quiz-app-button>
      </div>
    </div>
  </div>
</div>
