<div class="container">
  <div class="card-image">
  </div>
  <div class="card-title">
    {{ quiz?.title }}
  </div>
  <div class="card-location">
    {{ 'BUTTON.AMOUNT_OF_QUESTIONS' | translateJson }} {{ quiz?.questions?.length || 0 }}
  </div>
  <div class="flex content-center justify-center w-full">
    <quiz-app-button
      class="w-full mb-0"
      [type]="BUTTON_TYPE.PRIMARY"
      (whenClicked)="goPlay()">
      {{ 'BUTTON.QUIZ' | translateJson }}
    </quiz-app-button>
  </div>
</div>
