<div>
  <div class="flex justify-center items-center py-6 labels">
    <p class="">{{ 'LABELS.TYPE' | translateJson }}: {{ 'LABELS.BOOLEAN' | translateJson }}</p>
  </div>
  <form [formGroup]="form" *ngIf="form">
    <div class="modal-title">
      <quiz-app-input
        [control]="title"
        [label]="'LABELS.TITLE' | translateJson"
        [placeHolder]="PlaceHolder.title | translateJson"
      >
      </quiz-app-input>
    </div>
    <div class="flex justify-center items-center h-20 text-xl">
      <div class="flex justify-center w-full">
        <div class="flex justify-center items-center w-3/5">
          <div class="py-4">
            <div formArrayName="answers" class="flex space-x-4">
              <div *ngFor="let answer of answersControl; let index = index" class="flex items-center p-2.5">
                {{ AnswerBooleanList[index].text | translateJson }}
                <quiz-app-radio-button
                  class="flex w-1/10 pl-2 pt-1"
                  [id]="index"
                  [isChecked]="radioSelectedIndex === index"
                  (whenChecked)="onRadioChecked($event)"
                >
                </quiz-app-radio-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
