<div
  nz-popover
  class="cursor-pointer"
  nzPopoverTrigger="click"
  nzPopoverPlacement="bottom"
  [nzPopoverTitle]= label
  [nzPopoverContent]="content">
  <span class="font-bold flex justify-center items-center" *ngIf="!altTrigger.children.length">...</span>
  <div class="h-full flex justify-center items-center" #altTrigger>
    <ng-content select="[trigger]"></ng-content>
  </div>
</div>

<ng-template class="h-full" #content>
  <ul *ngFor="let option of options">
    <quiz-app-button
      class="popover-item"
      [type]="option.type"
      (whenClicked)="option.action()">
      {{ option.text | translateJson }}
    </quiz-app-button>
  </ul>
</ng-template>
