<div class="container" id="title-container">
  <div class="title-container">
    <div class="title">Nerdy quiz</div>
  </div>
   <div class="description-container">
     <p class="description">
       Embark on a journey of exploration and engagement as you take control of your learning journey. Our app offers you the unique opportunity to unleash your creativity by creating your very own quizzes, tailored to your interests and expertise. Craft questions that challenge and inspire, and share them with friends, family, or a global audience.
     </p>
   </div>
</div>
