<quiz-app-loader [isLoading]="isLoading">
<div class="container">
  <h1 class="modal-title mb-8">{{ label | translateJson }}</h1>
  <form class="flex justify-start mb-4" [formGroup]="initQuizForm">
    <div class="flex flex-col space-y-4 w-3/4">
      <quiz-app-input
        [control]="title"
        [label]="'LABELS.TITLE' | translateJson"
        [placeHolder]="PlaceHolder.title | translateJson">
      </quiz-app-input>
      <quiz-app-select
        class="w-full flex justify-center items-center"
        [control]="category"
        [label]="'LABELS.CATEGORY' | translateJson"
        [list]="dropDownCategories"
        [selectedValue]="category.value"
        (whenSelected)="setCategory($event)"
      >
      </quiz-app-select>
<!--      <quiz-app-labels-list [labelsList]="labelsList" [control]="difficulty">-->
<!--      </quiz-app-labels-list>-->
    </div>
  </form>
 <quiz-app-modal-footer
   [disableButton]="initQuizForm.invalid"
   [buttonText]="buttonText"
   (whenConfirm)="saveQuiz()"
   (whenCancel)="close()">
 </quiz-app-modal-footer>
</div>
</quiz-app-loader>
