<div class="flex-col py-3.5">
  <form class="flex-auto">
    <div class="modal-title">
      <quiz-app-input [control]="title" label="Title" [placeHolder]="PlaceHolder.title"></quiz-app-input>
    </div>
    <div class="flex justify-center items-center h-20 labels">
      <div class="flex justify-center w-3/5 overflow-hidden">
        <div class="flex justify-center w-1/2 p-2">
          <quiz-app-dropdown [control]="difficulty" [list]="difficultyList" [label]="difficulty.value"></quiz-app-dropdown>
        </div>
        <div class="flex justify-center w-1/2 p-2">
          <quiz-app-dropdown class="pr-2.5" [control]="type" [list]="typeList" [label]="type.value"></quiz-app-dropdown>
        </div>
      </div>
    </div>
    <div class="variants" *ngIf="!isBoolean">
      <quiz-app-input class="m-1" [control]="multipleVariantsGroup.controls.variant1" label="Answer 1" [placeHolder]="PlaceHolder.answer"></quiz-app-input>
      <quiz-app-input class="m-1" [control]="multipleVariantsGroup.controls.variant2" label="Answer 2" [placeHolder]="PlaceHolder.answer"></quiz-app-input>
      <quiz-app-input class="m-1" [control]="multipleVariantsGroup.controls.variant3" label="Answer 3" [placeHolder]="PlaceHolder.answer"></quiz-app-input>
    </div>
    <div class="correct" *ngIf="!isBoolean">
      <quiz-app-input [control]="correctAnswer" label="Correct answer" [placeHolder]="PlaceHolder.correctAnswer"></quiz-app-input>
    </div>
    <div class="flex justify-center items-center h-20 text-xl" *ngIf="isBoolean">
      <div class="flex justify-center w-3/5">
        <div class="flex justify-center items-center w-3/5">
          <p class="m-2.5">Correct answer: </p>
          <quiz-app-dropdown class="m-1" [control]="correctBooleanAnswer" [list]="booleanList" [label]="correctBooleanAnswer.value"></quiz-app-dropdown>
        </div>
      </div>
    </div>
  </form>
  <div class="footer flex justify-center mt-3.5 mb-2 h-10">
    <div class="flex space-x-4 w-1/3">
      <button class="w-1/2 rounded bg-buttons-hover btn-pop-up" (click)="cancelQuestion()">Cancel</button>
      <button class="btn-background-gradient w-1/2 rounded" (click)="saveQuestion()" [disabled]="questionForm.invalid">Save</button>
    </div>
  </div>
</div>
