<div>
  <form [formGroup]="multipleQuestionForm">
    <div class="modal-title">
      <quiz-app-input
        [control]="title"
        label="Title"
        [placeHolder]="PlaceHolder.title | translateJson">
      </quiz-app-input>
    </div>
    <div class="flex justify-center items-center h-20 labels">
      <div class="flex justify-center w-3/5 overflow-hidden">
        <div class="flex justify-center w-1/2 p-2">
          <quiz-app-dropdown
            [control]="difficulty"
            [list]="difficultyList"
            [label]="difficulty.value">
          </quiz-app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <ng-container formArrayName="answers" class="py-10">
        <ng-container class="flex" *ngFor="let answer of answersFormArray.controls; let index = index">
          <div class="flex items-center">
            <span class="text-3xl items-center justify-center">{{ index + 1 }}</span>
            <quiz-app-input class="m-10 w-full" [control]="answersControl[index].controls.text"></quiz-app-input>
            <form>
              <fieldset>
                <quiz-app-radio-button
                  class="mt-9 justify-center items-center"
                  [id]="index"
                  [control]="answersControl[index].controls.isCorrect">
                  Correct</quiz-app-radio-button>
              </fieldset>
            </form>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
  <div class="flex justify-center items-center h-8 my-10">
    <quiz-app-button
      class="w-1/3"
      [type]="BUTTON_TYPE.PRIMARY"
      [isDisabled]="answerLength >= 4"
      (whenClicked)="addAnswer()">
      {{'buttons.new-answer' | translateJson}}
    </quiz-app-button>
  </div>
</div>
