<div>
  <form [formGroup]="form" *ngIf="form">
    <div class="modal-title">
      <quiz-app-input
        [control]="title"
        label="Title"
        [placeHolder]="PlaceHolder.title | translateJson">
      </quiz-app-input>
    </div>
    <div class="flex justify-center items-center h-20 labels">
      <div class="flex justify-center w-3/5 overflow-hidden">
        <div class="flex justify-center p-2">
          <quiz-app-dropdown
            [control]="difficulty"
            [list]="AnswerDifficultyList"
            [label]="'LABELS.DIFFICULTY' | translateJson"
          >
          </quiz-app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <ng-container formArrayName="answers" class="py-10">
        <ng-container class="flex" *ngFor="let answer of answersControl; let index = index">
          <div class="flex items-center">
            <quiz-app-input [inputIndex]="index" [control]="answer.controls.text" class="m-10 w-full" label="LABELS.ANSWER"></quiz-app-input>
            <quiz-app-radio-button
              class="w-1/10 pt-7"
              [control]="answer.controls.isCorrect"
              [id]="index + 1">
              {{ 'LABELS.CORRECT' | translateJson }}
            </quiz-app-radio-button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
  <div class="flex justify-center items-center h-8 my-10">
    <quiz-app-button
      [type]="BUTTON_TYPE.PRIMARY"
      [isDisabled]="answerCount >= maxQuestionsAmount"
      (whenClicked)="addAnswer()">
      {{ 'BUTTON.NEW_ANSWER' | translateJson }}
    </quiz-app-button>
  </div>
</div>
