<div class="flex items-center justify-center w-full">
  <div class="flex-col justify-center content-center items-center w-full">
    <p class="font-inter text-xl font-semibold leading-6 tracking-normal text-left text">{{ label | translateJson }}</p>
    <div class="my-8 font-inter text-base font-normal leading-6 tracking-normal text-left">
      {{ text | translateJson }}
    </div>
    <quiz-app-modal-footer
      (whenConfirm)="close(true)"
      (whenCancel)="close(false)">
    </quiz-app-modal-footer>
  </div>
</div>
