.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.new-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;

  .new-quiz-btn {
    width: 33%;
    height: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #dcdcff, #c7c7ff);
  }

  .new-quiz-btn:hover {
    transition: 0.5s;
    background-image: linear-gradient(to bottom, #c7c7ff, #b3b3ff);
  }
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0;
  width: calc(33% - 10px);
  flex-grow: 1;
  text-align: center;
  height: 300px;
}

quiz-app-quiz-card {
  display: flex;
  flex-grow: 1;
  text-align: center;
  height: 300px;
  margin: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .quiz-list-item {
    width: calc(33.33% - 10px);
  }

  quiz-app-quiz-card {
    width: calc(33.33% - 10px);
  }
}

@media (max-width: 480px) {
  .container {
    margin: 50px auto auto;
  }
  .quiz-list-item {
    width: calc(75% - 10px);
  }

  quiz-app-quiz-card {
    width: calc(50% - 10px);
  }
}
