/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-back-ground);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
}

.ant-modal-content {
  border-radius: var(--border-radius);
  background-image: var(--background-image);
}

.bg-btn-gradient {
  background-image: var(--background-image);
}

.bg-btn-gradient-hover {
  background-image: var(--background-image-hover);
}

.ant-modal-confirm-btns {
  display: none;
}

.anticon-question-circle {
  display: none;
}

.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 0;
}

button {
  background-color: var(--color-primary);
  min-width: 100px;
  padding: 4px 8px;
}

@layer components {
  .btn-pop-up {
    @apply flex justify-center items-center w-1/2 bg-buttons hover:bg-buttons-hover rounded disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .btn-background-gradient-hover {
    @apply bg-btn-gradient-hover;
  }

  .btn-background-gradient {
    @apply bg-btn-gradient hover:btn-background-gradient-hover;
  }

  .btn-add {
    @apply btn-background-gradient w-1/3 h-full rounded cursor-pointer
  }

  .error {
    @apply underline text-error;
  }

  .labels {
    @apply text-2xl;
  }

  .input {
    @apply border rounded p-2 border-none focus:outline-none;
  }

  .modal-title {
    @apply text-3xl text-center mb-6;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-transparent border-2 border-primary
  }

  .btn-error {
    @apply border border-error text-error
  }

  .disabled-button {
    @apply opacity-50 cursor-not-allowed pointer-events-none
  }
}


@layer base {
  :root {
    --color-primary: #e6e6ff;
    --color-back-ground: #f0f0ff;
    --color-button: #E5E7EB;
    --color-buttons-hover: rgba(0, 0, 0, 0.05);
    --color-error: #D10000;
    --primary-font-color: #333333;
    --primary-font-family: system-ui;
    --background-image: linear-gradient(to bottom, #dcdcff, #c7c7ff);
    --background-image-hover: linear-gradient(to bottom, #c7c7ff, #b3b3ff);
    --border-radius: 10px;
  }
}
