@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-back-ground);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-size: var(--text-base);
}

.ant-modal-content {
  border-radius: var(--border-radius);
  background-color: var(--color-back-ground);
}

.ant-modal-confirm-btns {
  display: none;
}

.anticon-question-circle {
  display: none;
}

.ant-modal-close-x{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-close{
  display: flex;
  justify-content: end;
  align-items: center;
}

.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 0;
}

button {
  background-color: var(--color-primary);
  min-width: 100px;
  padding: 4px 8px;
}

@layer components {
  .btn-pop-up {
    @apply flex justify-center items-center w-1/2 bg-buttons hover:bg-buttons-hover rounded disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .btn-background-gradient-hover {
    @apply bg-btn-gradient-hover;
  }

  .btn-background-gradient {
    @apply bg-btn-gradient hover:btn-background-gradient-hover;
  }

  .btn-add {
    @apply btn-background-gradient w-1/3 h-full rounded cursor-pointer
  }

  .error {
    @apply underline text-error;
  }

  .labels {
    @apply text-2xl;
  }

  .input {
    @apply border rounded p-2 border-none focus:outline-none;
  }

  .modal-title {
    @apply text-3xl text-center mb-6;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-transparent border-2 border-primary
  }

  .btn-error {
    @apply border border-error text-error
  }

  .disabled-button {
    @apply opacity-50 cursor-not-allowed pointer-events-none
  }
}


@layer base {
  :root {
    --color-primary: rgb(230, 230, 255);
    --color-secondary: rgb(179, 179, 255);
    --color-back-ground: rgb(240, 240, 255);
    --color-button: rgb(229, 231, 235);
    --color-buttons-hover: rgba(0, 0, 0, 0.05);
    --color-error: rgb(209, 0, 0);
    --primary-font-color: #333333;
    --primary-font-family: system-ui;
    --border-radius: 10px;
    --text-base: 16px;
  }
}
