<div class="mx-[80px] overflow-hidden">
  <div class="mt-[40px] flex items-center justify-start my-6">
    <quiz-app-button
      [type]="BUTTON_TYPE.SECONDARY"
      class="flex items-center justify-center"
      (whenClicked)="goHome()">
      <div class="flex justify-center items-center">
        <quiz-app-svg-icon class="rotate-90 mr-1" [svgName]="SVG_TYPE.CHEVRON_DOWN" [iconColor]="SVG_COLOR.SECONDARY"></quiz-app-svg-icon>
        {{ 'BUTTON.BACK' | translateJson }}
      </div>
    </quiz-app-button>
  </div>
  <div class="flex flex-col justify-start items-start overflow-hidden">
    <p class="text-secondary font-semibold text-2xl">{{ quizTitle }}</p>
    <div class="flex justify-center items-center mt-4">
      <p
        class="text-font-grey font-inter text-xs font-normal leading-4">
        {{ quizCategory | translateJson }}
      </p>
      <quiz-app-divider
        [type]="DIVIDER.VERTICAL">
      </quiz-app-divider>
      <quiz-app-label
        [type]="quizLabelType">
        {{ quizDifficulty?.text | translateJson }}
      </quiz-app-label>
    </div>
    <p
      class="text-font-grey font-inter text-xs font-normal leading-4">
      {{ 'BUTTON.QUESTIONS' | translateJson }}: {{ quizQuestions.length }}
    </p>
    <quiz-app-info-card
      class="mt-8 w-full"
      label="PRE_PLAY_PAGE.PRE_PLAY_INFO"
      subLabel="PRE_PLAY_PAGE.PRE_PLAY_TEXT"
      *ngIf="!playMode">
    </quiz-app-info-card>
    <div
      class="flex w-full justify-end items-center mt-8"
      *ngIf="!playMode">
      <quiz-app-button
        [type]="BUTTON_TYPE.PRIMARY"
        (whenClicked)="togglePlayMode()">
        {{ 'BUTTON.PLAY' | translateJson }}
      </quiz-app-button>
    </div>
  </div>

</div>

<div *ngIf="playMode">
  <quiz-app-play (whenCancel)="togglePlayMode()" [quiz]="currentQuiz"></quiz-app-play>
</div>
