<div class="h-full flex items-center justify-center" *ngIf="!playMode">
  <div class="p-4 flex h-4/5 flex-col items-center place-content-between space-y-10 flex-grow xs:flex-wrap">
    <p class="text-6xl xs:text-2xl w-full flex justify-center"><span class="highlighted-text">{{ 'LABELS.TITLE' | translateJson }}:</span> {{ quizTitle}}</p>
    <p class="text-5xl xs:text-2xl w-full flex justify-center"><span class="highlighted-text">{{ 'LABELS.THEME' | translateJson }}:</span> {{ quizTheme }}</p>
    <p *ngIf="currentQuiz.questions.length" class="text-4xl xs:text-2xl w-full flex justify-center"><span class="mx-4 underline">{{ 'LABELS.DIFFICULTY' | translateJson }}:</span> {{ quizDifficulty }}</p>
    <span class="text-4xl xs:text-2xl w-full flex justify-center"><span class="highlighted-text">{{ 'BUTTON.QUESTION_AMOUNT' | translateJson }}:</span> {{ currentQuiz.questions.length }}</span>
    <div class="flex text-2xl space-x-12 justify-center items-center w-1/2 xs:w-full xs:flex-col xs:space-x-0">
      <div class="flex items-center justify-center my-2 w-1/2 h-full xs:w-full">
        <quiz-app-button
          class="items-center justify-center h-full w-full"
          [type]="BUTTON_TYPE.SECONDARY"
          (whenClicked)="goHome()">
          {{ 'BUTTON.HOME' | translateJson }}
        </quiz-app-button>
      </div>
      <div class="flex items-center justify-center my-2 h-full w-1/2 xs:w-full">
        <quiz-app-button
          class="items-center justify-center h-full w-full"
          [isDisabled]="!currentQuiz.questions.length"
          [type]="BUTTON_TYPE.PRIMARY"
          (whenClicked)="togglePlayMode()">
          {{ 'BUTTON.PLAY' | translateJson }}
        </quiz-app-button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="playMode">
  <quiz-app-play (whenCancel)="togglePlayMode()" [quiz]="currentQuiz"></quiz-app-play>
</div>
