<div class="container mx-auto mt-16 max-w-screen-xl">
  <div class="flex justify-center items-center mb-2">
    <quiz-app-button class="w-1/3" [type]="BUTTON_TYPE.PRIMARY" (whenClicked)="showQuestionCreation(true)">
      {{ 'BUTTON.NEW_MULTIPLE_QUESTION' | translateJson }}
    </quiz-app-button>
  </div>
  <div class="flex justify-center items-center mb-2">
    <quiz-app-button class="w-1/3" [type]="BUTTON_TYPE.PRIMARY" (whenClicked)="showQuestionCreation(false)">
      {{ 'BUTTON.NEW_BOOLEAN_QUESTION' | translateJson }}
    </quiz-app-button>
  </div>
  <div class="question-list flex-col justify-center">
    <div class="m-2 p-2" *ngIf="displayCreateQuestion">
      <quiz-app-create-question [quizId]="quizId" [isBoolean]="isBoolean" (hideCreation)="toggleQuestionCreation()"></quiz-app-create-question>
    </div>
    <div class="m-2 p-2">
      <quiz-app-question-card [quizId]="quizId" [questionIndex]="index" [question]="question" *ngFor="let question of allQuestions; let index = index"></quiz-app-question-card>
    </div>
  </div>
</div>

